$header:#4cedfc;
$headerText:white;
$garyBorder:#ccc;
$meeting:rgb(202, 56, 202);
$holiday:#aaf639;
$birthday:#4c8afc;
$weekholiday:red;

.calendar{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap; //只要允許就自動換行
    margin: 0px auto;

    &-header{
        width: 100%;
        padding: 10px;
        text-align: center;
        background-color: $header;
        color: $headerText;
        font-size: 36px;
        font-weight: bold;
        font-family: "標楷體", Helvetica, sans-serif;
    }
    &-day{
        width: calc(100% / 7);
        height: 100px;
        // width: calc(calc(100% / 7) - 2px);
        border: $garyBorder solid 1px;
        box-sizing: border-box;//自動計算padding和border
        position: relative;
        span{
            position: absolute;
            top:5px;
            left:5px;
            font-size: 20px;
        }
        .event{
            position: absolute;
            display: block;//基本上這是所有div的預設條件，他將會佔據一整行，因此被稱為區塊元素
            bottom: 5px;  //inline和span基本上是一樣的，他無法設定寬度就是裡面的素材有多大就多大，因此稱為行內元素
            left: 5px;
            font-size: 20px;

            &::before{
                content: '';
                display: inline-block;//可以自己設定寬度，但它並不會像是block一樣佔據一整行，算是具有行內元素特色區塊元素特色的綜合體，常和before after一起使用
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-right: 5px;
            }
            &-meeting::before{
                background-color: $meeting;
            }
            &-holiday::before{
                background-color: $holiday;
            }
            &-birthday::before{
                background-color: $birthday;
            }
        }
    }
    &-week{
        width: calc(100% / 7);
        height: 40px;
        border: $garyBorder solid 1px;
        box-sizing: border-box;
        position: relative;
        font-weight: bold;
        span{
            position: absolute;
            top: 5px;
            left: 5px;
            font-size: 20px;
        }   
    }
    &-weekholiday{
        color: $weekholiday;
    }
}