*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    width: 100%;
    padding: 0% 10%;
    display: flex;
}
.nav-center{
    width: 90%;
}
.nav-right{
    width: 10%;
    display: flex;
}
.logo{
    height: 200px;
    background-image: url(../img/450x.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.computer{
    display: flex;
}
.link{
    height: 50px;
}
.link-text{
    margin-top: 4px;
    padding: 0px 15px;
    white-space: nowrap;
}
.search{
    margin-top: 4px;
    padding: 0px 15px;
    width: 20px;
    height: 20px;
    background-image: url(../img/search-solid.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.comment{
    margin-top: 4px;
    padding: 0px 15px;
    width: 20px;
    height: 20px;
    background-image: url(../img/comment-solid.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.user{
    margin-top: 4px;
    padding: 0px 15px;
    width: 20px;
    height: 20px;
    background-image: url(../img/user-solid.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.shopping{
    margin-top: 4px;
    padding: 0px 15px;
    width: 20px;
    height: 20px;
    background-image: url(../img/shopping-bag-solid.svg);
    background-repeat: no-repeat;
    background-size: contain;
}