*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.all{
  width: 800px;
  height: 600px;
  background-color: aqua;
}

.top{
  width: 100%;
  height:100px;
  background-color: yellow;
}
.left{
  width: 50%;
  height: 100%;
  padding: 10px;
  float: left;
  background-color: red;
}
.left-1{
  width: 50%;
  height: 100%;
  padding: 10px;
  float: left;
  background-color: rgb(227, 28, 217);
}
.list{
  width: calc(100% - 20px) ;
  font-size: 24px;
  margin: 10px;
  background-color: cadetblue;
}

.right{
  width: 50%;
  height: 100%;
  float: right;
  background-color: rgb(19, 218, 115);
}
.right-1{
  width: 50%;
  height: 100%;
  float: right;
  background-color: rgb(4, 92, 47);
}